aiohttp==3.6.2
astroid==2.3.3
async-timeout==3.0.1
asyncio==3.4.3
attrs==19.3.0
audioread==2.1.8
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
dataclasses==0.7
decorator==4.4.2
deprecation==2.0.7
eyeD3==0.9.3
filetype==1.0.5
idna==2.9
idna-ssl==1.1.0
isort==4.3.21
joblib==0.14.1
lazy-object-proxy==1.4.3
librosa==0.7.2
llvmlite==0.31.0
mccabe==0.6.1
multidict==4.7.5
numba==0.48.0
numpy==1.18.1
packaging==20.3
pkg-resources==0.0.0
pycparser==2.20
pylint==2.4.4
pyparsing==2.4.6
pysndfx==0.3.6
requests==2.23.0
resampy==0.2.2
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
SoundFile==0.10.3.post1
telebot==0.0.3
telepot==12.7
typed-ast==1.4.1
typing-extensions==3.7.4.1
urllib3==1.25.8
wrapt==1.11.2
yarl==1.4.2
youtube-dl==2020.3.24
